
html,body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #38405F;
	font-family: 'Dosis'; 
}


.navigation {
	background-color: #0E131F;
	color: white;
	height: 50px;

	animation-name: navegacao;
	animation-duration: 3s;
}

.navigation ul {
	margin-top: 0;
	list-style: none;
	padding-left: 0;
	text-align: right;
	height: 50px;

}

.navigation li {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 100;
}

.navigation a {
	color: white;
	text-decoration: none;
}

.navigation a:hover {
	color: #FF0035;
}

.navigation li.threeline-icon {
	display: none;
}

.navigation li.threeline-icon:hover {
	color: #FF0035;
	cursor: pointer;
}


.capa {
	color: white;
	vertical-align: top;
	padding-bottom: 20px;

}

.capa span {
	color: #ff0035;
}

.capa div {
	display: inline-block;
	height: 430px;
}

.profile-pic {
	width: 40%;
	text-align: center;
	margin-top: -50px;
	animation-name: profile-capa;
	animation-duration: 2s;
}

.profile-pic img {
	width: 320px;
	border-radius: 100px;
	margin-top: 100px;
}


.profile-title {
	vertical-align: top;
	width: 59%;
		animation-name: titulo-capa;
		animation-duration: 2s;
}

.profile-title img {
	width: 100px;
}

.profile-title h1 {
	text-transform: uppercase;
	font-size: 58px;
	margin-top: 120px;
	font-weight: 400;
	line-height: 54px;
	width: 600px;
}


.profile-title h2 {
	font-size: 20px;
	font-weight: 100;
	margin-top: -22px;
}
.profile-title a {
	color: white;
	text-decoration: none;
}

.profile-title a:hover {
	color: #FF0035;
}

.profile-title div {
	display: inline-block;
	
	height: 100px;
	vertical-align: top;
}

.eng img{
	margin-left: -17px;
}

.contateme {
	vertical-align: top;
}

.contateme p {
	margin-top: 16px;
	font-size: 50px;
	font-family: monospace;
	font-style: italic;
}

.quem {
	color: white;
	font-family: Arial, sans-serif;
	font-weight: 100;
	animation-name: titulo-capa;
		animation-duration: 2s;

}
.quem h1{
	text-align: left;
	text-transform: uppercase;
	font-weight: 100;
	font-style: italic;
	padding-left: 5%;
}

.quem h2{
	text-align: justify;
	padding-left: 5%;
	font-size: 20px;
	font-weight: 100;
}

.quem h3{
	text-align: justify;
	padding-left: 5%;
	padding-right: 5%;
	font-family: Arial, sans-serif;
	font-weight: 100;
}

.main {
	padding: 40px 180px 80px 100px;

	animation-name: conteudo;
	animation-duration: 2s;
}

.cv-pic {
	float: left;
	width: 280px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 100%;
	position: relative;
}

.cv-pic:hover{top:-2px;box-shadow:0 2px 2px #666}

.cv-pica{
	float: right;
	width: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 45px;
	border-radius: 10%;
}


.main h1 {
	color: white;
	text-align: center;
	font-family: 'Dosis';
	font-weight: 300;
	padding-left: 7%;
	font-size: 50px;
}

.nome {
	text-align: center;
}
.brasil{
	width: 80%;
	float: right;
}
.england{
	width: 80%;
	float: right;
}
.spain{
	width: 80%;
	float: right;
}

.main h2 {
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	margin-top: 40px;
	
}

.main h3 {
	color: #FF0035;
	font-size: 20px;
	text-transform: uppercase;

}

.main p {
	color: white;
	font-size: 18px;
	font-weight: 100;
	line-height: 24px;s
}

.debrecen {
	width: 20%;
	float: right;
	padding-top: 0.5%;
}
.chicago{
	width: 7%;
	float: right;
	padding-right: 5%;

}
.ita{
	width: 17%;
	float: right;
	padding-top: 2%;
}
.main a {
	color: white;
	text-decoration: none;
}

.main a:hover {
	color: #FF0035;
}

.unife{
	width: 10%;
	float: right;
	padding-top: 6%;
	padding-right: 3%;

}
.caminho {
	list-style: none;
	padding-left: 0;
	color: white;
}

.caminho li {
	display: inline-block;

}

.caminho a {
	color: white;
}

.social-img {
	width: 80px;
	float: left;
	margin-left: 45%;
	position: relative;
	border-radius: 25%;
}

.social-img:hover{top:-2px;box-shadow:0 2px 2px #666}

.social-imga {
	width: 80px;
	float: right;
	margin-right: 38%;
	position: relative;
	border-radius: 25%;
}

.social-imga:hover{top:-2px;box-shadow:0 2px 2px #666}

.titulo_contatos h3{
	text-align: center;
	margin-left: 7%;
	font-weight: 100;
	font-size: 25px;
}
.titulo_contatos p{
	text-align: center;
	margin-left: 7%;
	font-size: 20px;
}

.mapa iframe{
	margin-left: 26%;
}


.miniatura {
	width: 320px;
	height: 320px;
	display: inline-block;
	margin-right: 15px;
	margin-left: 100px;
	margin-bottom: 15px;
	background-size: contain;
	overflow: hidden;
	border-radius: 20%;
	position: relative;
	
}

.miniatura:hover{top:-2px;box-shadow:0 2px 2px #666}

.miniatura a {
	text-decoration: none;
}

.miniaturaa {
	width: 320px;
	height: 320px;
	display: inline-block;
	margin-right: 15px;
	margin-left: 100px;
	margin-bottom: 15px;
	background-size: contain;
	overflow: hidden;
	border-radius: 20%;
	float: right;
	position: relative;
	
}

.miniaturaa:hover{top:-2px;box-shadow:0 2px 2px #666}

.miniaturaa a {
	text-decoration: none;
}


.blackbox {
	width: 100%;
	height: 100%;
	background-image: url('../img/fundo.png');
	opacity: 0;
	padding-top: 120px;
	transition: 1s;
	background-size: contain;
}


.blackbox:hover {
	opacity: 0.93;
	transition: 1s;

}

.blackbox-text {
	text-align: center;
}

.blackbox-text h1 {
	font-size: 22px;
	font-weight: 500;
	color: #FF0035;
	text-transform: uppercase;
	margin-top: 0px;
	margin-right: 24px;

}

.blackbox-text h2 {
	text-transform: none;
	font-weight: 500;
	margin-top: 0;
}

.car {
	width: 35%;
	margin-left: 370px;

}

.aaa h1{
	font-size: 30px;
}

.comida {
	width: 35%;
	margin-left: 370px;

}

.aa h1{
	font-size: 30px;
}

.videoabb {
	margin-left: 300px ;
}

.foto-trabalhos {
	width: 50%;
	margin-bottom: 10px;
	margin-top: 10px;
	display: block;
	margin-left: 330px;
}

.back-link {
	color: #FF0035;
}

.maq img{

	margin-left: 160px;
}

.abb {
	width: 50%;
	margin-left: 330px;
}

@keyframes profile-capa {
	0% {opacity:0; transform: translate(0px,20px)}
	100% {opacity: 1; transform: translate(0px,0px)}
	0% {transform: rotate(30deg)}
	100% {transform: rotate(0deg)}
}

@keyframes titulo-capa {
	0% {opacity: 0; transform: translate(0px,-20px)}
	100% {opacity: 1; transform: translate(0px,0px)}
} 

@keyframes conteudo {
	0% {opacity: 0}
	100% {opacity: 1}
	0% {transform: skew(10deg,0deg)}
	100% {transform: skew(0deg,0deg)}
	
} 

@keyframes navegacao {
	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1}
} 

.gif {
	width: 50%;
	padding-left: 5%;
	margin-right: auto;
	margin-left: auto;
}


@media (max-width: 1300px) {


.navigation li {
	display: none;
}

.navigation li.threeline-icon {
	display: inline-block;
}


.capa div {
	display: block;
	height: auto;
}

.profile-pic {
	width: 100%;
	margin-top: 40px;
}

.profile-pic img {
	max-width: 75%;
	margin-top: 0;
	max-width: 80%;
}

.profile-title {
	text-align: center;
	width: 100%;
}


.profile-title h1 {
	margin-top: 30px;
	font-size: 36px;
	margin-left: 20px;
	margin-right: 20px;
	width: auto;
}

.email {
	margin-top:50px;
}

.social-img {
	margin-right: auto;
	margin-left: auto;
}
.social-imga {
	margin-right: auto;
	margin-left: auto;
}

.mapa iframe {
width: 100%;
margin-right: auto;
margin-left: auto;
}
.titulo_contatos p{
	margin: 0%;

}
.car{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

.comida{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.videoabb {
	position: relative;
	overflow: auto;
  	margin-left: auto;
  	margin-right: auto;
}

.abb {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.profile-title h2 {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.main {
	padding: 10px 5% 40px 5%;
	overflow-wrap: break-word;
  	word-wrap: break-word;


}

.main p {
	text-align: center;
	line-height: 30px;

}

.caminho li {
	font-size: 12px;
}

.cv-pic {
	float: none;
	max-width: 100%;
	margin-right: 0px;
}

.miniatura {
	max-width: 100%;
	background-size: auto 100%;
	margin-right: 0%;
	background-color: #0E131F;
}
.miniaturaa {
	max-width: 100%;
	background-size: auto 100%;

	background-color: #0E131F;
}

.blackbox {
	opacity: 0.8;
}

.menujs {
	height: auto;
}

.menujs ul {
	height: auto;
	text-align: center;
	padding-right: 15%;
	padding-left: 15%;

}

.menujs li {
	display: block;
	border-bottom: solid grey 1px;
	width: 100%;
	padding: 0;

}
.maq img{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.abb {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

}






